version: '3.8'

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    networks:
      - twitter

  app:
    container_name: fast_api
    build:
      context: .
      dockerfile: Dockerfile
    stop_signal: SIGTERM
    ports:
      - 8000:8000
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    depends_on:
      - nginx
    networks:
      - twitter

  nginx:
    container_name: nginx
    image: nginx
    volumes:
#      - .nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/usr/share/nginx/html
    restart: always
    ports:
      - 80:80
    networks:
      - twitter

networks:
  twitter:
    name: twitter
    driver: bridge